.clients
{
	background: rgba(27, 30, 30, 1);
	padding-top: 80px;
	margin-bottom: 80px;
}
.clients__titlle
{
	max-width: 280px;
	font-size: 18px;
	font-weight: 500;
	line-height: 19.8px;
	margin-bottom: 25px;
	color: rgba(255, 255, 255, 1);
}	
.clients__wrap-list
{
	background: rgba(34, 37, 37, 1);
	border-radius: 20px;
}
.clients__wrap-text
{
	font-size: 14px;
	font-weight: 400;
	line-height: 15.4px;
	color: rgba(198, 202, 202, 1);
}