<section class="clients">
	<div class="container">
		<h3 class="clients__titlle">ФормКомпозит — российская компания, производящая несущие и крепёжные системы из композиционных стеклопластиков методом пултрузии</h3>
		<div class="clients__wrap">
			<div class="clients__wrap-list">
				<span class="clients__wrap-text">Наши решения подходят для кабельной прокладки и крепления в агрессивных средах, где не справляются даже металл или бетон:
				</span>
				<ul class="clients__list">
				<li class="clients__list-items">Химическая промышленность</li>
				<li class="clients__list-items">Энергетическая промышленность</li>
				<li class="clients__list-items">Металлургическая промышленность</li>
				</ul>
			</div>
		</div>
		<div class="clients__picture">
			<div class="clients__picture-wrap">
				<img src="" alt="">
				<img src="" alt="">
				<img src="" alt="">
				<img src="" alt="">
				<img src="" alt="">
			</div>
		</div>
		<div class="clients__btn">
			Подробнее о компании
		</div>
	</div>
</section>